<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <div th:fragment="menu" th:remove="tag">
      <header class="app-bar">
        <div class="app-bar-title" th:onclick="javascript:appBarBrand()">
          ibooks
        </div>

        <nav class="header-menu">
          <div class="dropdown">
            <a href="#" class="dropdown-toggle">CSVアップロード</a>
            <div class="dropdown-menu">
              <a th:href="@{/bookUpload}" class="dropdown-item">ブックCSVアップロード</a>
              <a th:href="@{/categoryUpload}" class="dropdown-item">カテゴリCSVアップロード</a>
              <a th:href="@{/bookChapterUpload}" class="dropdown-item">ブックチャプターCSVアップロード</a>
            </div>
          </div>
          <a th:href="@{/password}">パスワード変更</a>
        </nav>

        <div class="header-right">
          <p class="loginUserName">[[${adminDto?.name}]] 様</p>
          <form th:action="@{/login/logout}" method="post">
            <button type="submit" class="logout-btn">ログアウト</button>
          </form>
        </div>

        <!-- ハンバーガーボタン -->
        <div class="hamburger" id="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>

        <!-- スマホ用メニュー -->
        <div class="mobile-menu" id="mobile-menu">
          <p class="mobile-user">[[${adminDto?.name}]] 様</p>

          <a th:href="@{/password}" class="mobile-link">パスワード変更</a>

          <form th:action="@{/login/logout}" method="post">
            <button type="submit" class="mobile-logout-btn">ログアウト</button>
          </form>
        </div>
      </header>

      <div class="overlay" id="overlay"></div>

      <script th:inline="javascript">
        function appBarBrand() {
          window.location.href = "/admin/book";
        }

        const hamburger = document.getElementById('hamburger');
        const menu = document.getElementById('mobile-menu');
        const overlay = document.getElementById('overlay');

        hamburger.addEventListener('click', function() {
          hamburger.classList.toggle('open');
          menu.classList.toggle('open');
          overlay.classList.toggle('open'); // ←追加
        });

        /* 背景クリックで閉じる */
        overlay.addEventListener('click', function() {
          hamburger.classList.remove('open');
          menu.classList.remove('open');
          overlay.classList.remove('open');
        });
      </script>
    </div>
  </body>
</html>
