<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" th:with="title='ブックチャプターCSVアップロード'">
<head th:replace="~{_common/head::head}"></head>
<body>
<div th:replace="~{_common/sidebar::sidebar}"></div>

<div class="main-content">
    <main class="container">
        <h1 id="pageName" class="u-fs-2 u-fw-700"></h1>
        <div class="search-cond u-mb16">
            <div th:replace="~{_common/upload::messages}"></div>
        </div>
        <div class="upload-card u-mb32">
            <form th:action="@{/bookChapterUpload/upload}" id="mainForm" enctype="multipart/form-data" method="post">
                <div class="upload-form-area">
                    <div th:replace="~{_common/upload::upload(accept='.csv')}"></div>
                </div>
            </form>
            <div class="upload-guide-area">
                <a th:href="@{/sample/bookChapter.csv}"
                    download="bookChapter.csv"
                    class="sample-download-link ignoreLock">
                    サンプルCSVをダウンロード
                </a>
            </div>
            <div class="upload-error-area">
                <div th:replace="~{_common/upload::errors}"></div>
            </div>
        </div>
    </main>
</div>
<script th:replace="~{_common/script::csrfHeader}"></script>
<script th:replace="~{_common/script::uploadCsvFile}"></script>
<script th:replace="~{_common/script::setPageTitle}"></script>
<div th:replace="~{_common/script::asyncDownloadCsvFile}"></div>
<div th:replace="~{_common/footer::footer}"></div>
</body>
</html>