<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
</head>
<body>
    <div th:fragment="messages" th:if="!${lists.isEmpty(messages)}" class="alert alert-success" id="m_message_origin">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <ul th:each="message : ${messages}">
            <li>[[${message}]]</li>
        </ul>
    </div>

    <div th:fragment="errors" th:if="!${lists.isEmpty(errors)}" class="alert alert-danger" id="m_message_origin_error">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <ul th:each="error : ${errors}">
            <li>[[${errors}]]</li>
        </ul>
    </div>

    <th:block th:fragment="validationErrors" th:if="${#fields.hasErrors()}">
        <div class="alert alert-danger" id="m_message_origin_v_error">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <ul th:each="error : ${#fields.hasErrors()}">
                <li>
                    <label th:for="${error.fieldName}">[[${error.message}]]</label>
                </li>
            </ul>
        </div>
        <script th:inline="javascript">
            $(function() {
            });
        </script>
    </th:block>
</body>
</html>