<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="pager" class="u-flex is-wrap is-x-spaceBetween-pc">
    <div class="u-font-14">
        全
        [[${page.totalCount}]]
        件中
        [[${page.begin}]]
        -
        [[${page.end}]]
        件目
    </div>
    <nav th:if="${page.totalPages} != 0">
        <ul class="u-flex is-wrap u-c-gap8 pager">
            <li th:if="${page.hasPrev}">
                <a th:href="@{${page.pagerQueryString}(page=${page.pageNum-1})}" aria-label="Previous" class="pager-before"></a>
            </li>
            <li th:if="!${page.hasPrev}" class="disabled">
                <span class="pager-before"></span>
            </li>
            <li th:if="${page.startPageNum != 0}">
                <a th:href="@{${page.pagerQueryString}(page=0)}" class="pager-numbers">1</a>
            </li>
            <li th:if="${page.startPageNum} > 1" class="disabled">
                <span>...</span>
            </li>
            <th:block th:if="0 != ${page.totalPages}" th:each="i : ${number.sequence(page.startPageNum, page.endPageNum)}">
                <li th:if="${i} == ${page.pageNum}" class="active">
                    <a href="#" th:text="${i + 1}" class="ignoreLock pager-numbers"></a>
                </li>
                <li th:if="${i} != ${page.pageNum}">
                    <a th:href="@{${page.pagerQueryString}(page=${i})}" th:text="${i + 1}" class="pager-numbers"></a>
                </li>
            </th:block>
            <li th:if="${page.endPageNum < (page.totalPages - 1)}" class="disabled">
                <span>...</span>
            </li>
            <li th:if="${page.endPageNum != page.totalPages}">
                <a th:href="@{${page.pagerQueryString}(page=${page.totalPages})}" th:text="${page.totalPages + 1}" class="pager-numbers"></a>
            </li>
            <li th:if="${page.hasNext}">
                <a th:href="@{${page.pagerQueryString}(page=${page.pageNum + 1})}" aria-label="Next" class="page-after"></a>
            </li>
            <li th:if="!${page.hasNext}" class="disabled">
                <span class="page-after"></span>
            </li>
        </ul>
    </nav>
</div>
<th:block th:fragment="sort">
    <a th:href="@{${page.getSortQueryString}(sortKey=${colName})}" class="u-color-blue">
        [[${colLabel}]]
    </a>
    <span th:if="${colName} == ${pager?.sortKey}" th:text="${page?.sortValue.equals('ASC')} ? '▲' : '▼'"></span>
</th:block>

<th:block th:fragment="hiddenParams" th:widh="hiddenParams=${page?.getHiddenParams()}">
    <th:block th:if="!${#lists.isEmpty(hiddenParams)}" th:each="hiddenParam : ${hiddenParams}">
        <input type="hidden" th:name="${hiddenParam.name}" th:value="${hiddenParam.value}">
    </th:block>
</th:block>
</body>
</html>