@charset "UTF-8";

/* ========================================================
*  ローディング
======================================================== */
#loading {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
}

#loading .loading-area {
  background-color: #ddd;
  padding: 10px 0 24px 0;
  border-radius: 5px;
  display: inline-block;
  width: 200px;
  height: 106px;
  margin: -53px 0 0 -100px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  box-sizing: border-box;
}

#loading p {
  color: #333;
  font-size: 14px;
  line-height: 42px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
}

#loading .spinner-area {
  display: inline-block;
  width: 30px;
  height: 30px;
}

#loading .three-quarter-spinner {
  width: 30px;
  height: 30px;
  border: 2px solid transparent;
  border-radius: 50%;
  animation: spin 0.5s linear 0s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}

#loading .progress-area {
  display: none;
  box-sizing: border-box;
  margin: 10px 10px 0 10%;
  padding: 0;
  height: 10px;
  width: 80%;
  border: 1px solid #ccc;
  text-align: left;
  font-size: 0;
}

#loading .progress-bar {
  display: inline-block;
  height: 10px;
  width: 0px;
  background-color: #28b0ff;
}

/* ========================================================
*  ボタンのデフォルトボーダー打消
======================================================== */
.btn-white {
  border: 0;
}

/* ========================================================
*  入力フォームの調整
======================================================== */
label {
  cursor: default;
}

.form-group input[readonly] {
  background-color: #efefef;
}

.form-group .required {
  color: #fd4c4c;
}

.form-group .required > span {
  color: #374246;
}

/* ========================================================
*  詳細ページ
======================================================== */
.static-text {
  border: 1px solid #c4cacb;
  border-radius: 3px;
  background-color: #efefef;
  padding: 4px 8px;
  -webkit-appearance: none;
  box-sizing: border-box;
  font-size: 14px;
  vertical-align: top;
  min-height: 34.93px;
  word-break: break-all;
}

/* ========================================================
*  ボタン無効
======================================================== */
button:disabled,
input[type="submit"]:disabled {
  background-color: #ccc;
  border-color: #ccc;
  color: #fff;
  cursor: default;
}

button:disabled:hover,
input[type="submit"]:disabled:hover {
  background-color: #ccc;
  border-color: #ccc;
  color: #fff;
}

/* ========================================================
*  ファイルアップロード
======================================================== */
.upload-area {
  position: relative;
}

.upload-area input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
  opacity: 0;
}

.upload-area .txt {
  font-size: 1.5rem;
  width: 100%;
}

.upload-textarea textarea {
  width: 100%;
  border: 1px solid #c4cacb;
  border-radius: 3px;
  padding: 8px;
}

.upload-textarea textarea::placeholder {
  color: #c4cacb;
  font-size: 1.3rem;
}

/* ========================================================
*  ブック画像
======================================================== */
.book-img-md {
  max-width: 100px;
  max-height: 200px;
  cursor: pointer;
}

.generalContents {
  padding-top: 24px;
}

.generalContents .control-area {
  margin: 0 24px 24px 24px;
}

.generalContents .control-area h1 {
  margin-bottom: 24px;
  font-weight: bold;
}

.generalContents .control-area h2 {
  margin-bottom: 16px;
}

.generalContents .control-area .indicate-area {
  background: #fff;
  padding: 16px;
  border-radius: 10px;
}

.error-ds {
  margin: 0;
  background-color: #e9f0f2;
  padding: 100px 10% 0;
}

.error-ds h1 {
  font-size: 5rem;
  color: #374246;
  margin-bottom: 24px;
}

.error-ds h1 span {
  display: block;
  font-size: 1.6rem;
}

.error-ds a {
  display: inline-block;
  margin-top: 24px;
  background: #374246;
  color: #fff;
  text-decoration: none;
  padding: 6px 20px 4px;
  border-radius: 5px;
  cursor: pointer;
}

.error-ds a:hover {
  background: #fff;
  color: #374246;
}

/* ========================================================
*  メニューバー
======================================================== */
.app-bar {
  display: flex;
  align-items: center;
  background-color: #62b5ce;
  padding: 0 15px;
  height: 64px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.app-bar-title {
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.6;
  margin-left: 60px;
  cursor: pointer;
}

.spacer {
  flex-grow: 1;
}

.loginUserName {
  margin: 0 20px;
  padding: 0;
  font-size: medium;
}

/* ========================================================
*  ブック検索フォーム
======================================================== */
.book-search-form {
  width: 90% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

/* ========================================================
*  アラート
======================================================== */
.alert {
  position: relative;
  padding: 1.5rem 1.5rem;
  padding-right: 3rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.375rem;
  border-width: 0;
}

.alert .alert-dismissible {
  padding-right: 3rem;
}

.alert a {
  font-weight: 700;
}

.alert-danger {
  color: #B00020;
  background-color: rgba(176, 0, 32, 0.15);
  border-color: rgba(176, 0, 32, 0.25);
}

.alert-danger a {
  color: #B00020;
  text-decoration: none;
}

.alert-danger a:hover {
  color: #790016;
  text-decoration: underline;
}

.alert-danger .btn-close {
  position: absolute;
  color: #B00020;
  font-size: 2rem;
  line-height: 1;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  background: transparent;
  border: none;
}

.alert-danger ul {
  width: calc(100% - 16px);
}

.alert-danger ul li {
  list-style: disc;
  margin-left: 16px;
}

.alert-success {
  color: #4CAF50;
  background-color: rgba(76, 175, 80, 0.15);
  border-color: rgba(76, 175, 80, 0.25);
}

.alert-success a {
  color: #4CAF50;
  text-decoration: none;
}

.alert-success a:hover {
  color: #388E3C;
  text-decoration: underline;
}

.alert-success .btn-close {
  position: absolute;
  color: #4CAF50;
  font-size: 2rem;
  line-height: 1;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  background: transparent;
  border: none;
}

.alert-success ul {
  width: calc(100% - 16px);
}

.alert-success ul li {
  list-style: disc;
  margin-left: 16px;
}

.alert-warning {
  color: #FB8C00;
  background-color: rgba(251, 140, 0, 0.15);
  border-color: rgba(251, 140, 0, 0.25);
}

.alert-warning a {
  color: #FB8C00;
}

.alert-warning .btn-close {
  position: absolute;
  color: #FB8C00;
  font-size: 2rem;
  line-height: 1;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  background: transparent;
  border: none;
}

.alert-warning ul {
  width: calc(100% - 16px);
}

.alert-warning ul li {
  list-style: disc;
  margin-left: 16px;
}

/* ========================================================
*  ページング
======================================================== */
.pager a {
  display: inline-block;
  text-align: center;
  min-width: 28px;
  height: 32px;
}

.pager a:hover {
  text-decoration: none;
}

.pager span {
  display: inline-block;
  text-align: center;
  min-width: 28px;
  height: 32px;
}

.pager-numbers {
  padding: 5px 6px;
  font-size: 1.4rem;
  color: #00f;
  border: 1px solid #c4cacb;
  border-radius: 5px;
}

.pager-numbers:hover {
  background-color: #ebf0f1;
}

.pager-before {
  position: relative;
}

.pager-before::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  right: 50%;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  transform: rotate(45deg) translateY(-50%);
  position: absolute;
  top: 50%;
  pointer-events: none;
  margin-left: -2px;
}

.pager-after {
  position: relative;
}

.pager-after::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  right: 50%;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  transform: rotate(45deg) translateY(-50%);
  position: absolute;
  top: 50%;
  pointer-events: none;
  margin-left: -2px;
}

.pager .active .pager-numbers {
  color: #fff;
  background: #43a3af;
  border: 1px solid #43a3af;
}

.pager .disabled .pager-before::before,
.pager .disabled .pager-after::before {
  border-color: #c4cacb;
}

/* ========================================================
*  テーブル
======================================================== */
.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  vertical-align: top;
  border-color: #dee2e6;
  caption-side: bottom;
  border-collapse: collapse;
}

.table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  background-color: transparent;
  box-shadow: none; 
  border-bottom-width: 1px;
}

.table > :not(:last-child) > :last-child > * {
  border-bottom-color: #dee2e6;
}

.table > thead {
  vertical-align: bottom;
}

.table th {
  text-align: inherit;
  font-weight: 700;
}

.table > :not(caption) > * {
  border-color: #dee2e6;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  background-color: #f2f2f2;
  color: #212529;
}

.table-hover > tbody > tr:hover > * {
  background-color: #e6e6e6;
  color: #212529;
}

.table-bordered {
  border: 1px solid #dee2e6;
}

.table-bordered > :not(caption) > * {
  border-width: 1px 0;
}

.table-bordered > :not(caption) > * > * {
  border-width: 0 1px;
  border-color: #dee2e6;
}

.table-sm > :not(caption) > * > * {
  padding: 0.25rem 0.25rem;
}

.table-error thead tr {
  background: #dc3545;
  color: #fff;
}

.table-error tbody tr {
  border-bottom: solid 1px #ffdcdc;
  border-left: solid 1px #ffdcdc;
  border-right: solid 1px #ffdcdc;
}

.table-error tbody tr:nth-child(even) {
  background: #dc3545;
}

.table-error tbody tr:hover td {
  background-color: #ffecc5;
}

.table-responsive {
  overflow-x: auto;
  min-height: 0.01%;
}

/* ========================================================
*  その他
======================================================== */
h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.8rem;
}

a:hover {
  text-decoration: underline;
}