<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
</head>
<body>
    <!-- 成功メッセージ用フラグメント削除 -->

    <div th:fragment="errors" th:if="!${#lists.isEmpty(errors)}" class="error-message-wrapper" id="m_message_origin_error">
        <img th:src="@{/public/img/not_result.png}" alt="エラー画像">
        <ul th:each="error : ${errors}">
            <li th:text="${error}"></li>
        </ul>
    </div>

    <th:block th:fragment="validationErrors" th:if="${#fields.hasErrors()}">
        <div class="error-message-wrapper" id="m_message_origin_v_error">
            <img th:src="@{/public/img/not_result.png}" alt="エラー画像">
            <ul th:each="error : ${#fields.errors('*')}">
                <li th:text="${error}"></li>
            </ul>
        </div>
    </th:block>

    <th:block th:fragment="extraValidationErrors" th:if="${!#lists.isEmpty(extraValidationErrors)}">
        <div class="error-message-wrapper" id="m_message_origin_ev_error">
            <img th:src="@{/public/img/not_result.png}" alt="エラー画像">
            <ul th:each="error : ${extraValidationErrors}">
                <li th:text="${error}"></li>
            </ul>
        </div>
    </th:block>
</body>
</html>